.sidebar {
    $self: &;

    height: 100%;
    overflow-y: auto;
    width: 100%;

    @media (min-width: 1200px) {
        height: 100%;
        width: 38.5%;
    }

    #{$self}__list {
        height: 100%;
         list-style: none;

           li {
            text-align: left;
            width: 100%;
        }
    }

    .chartWidget:first-child {
        height: 100px;
    } 

}