.mapcontainer {
  $self: &;

  height: 100%;
  width: 100%;
  z-index: 1;

  #{$self}__container {
    border: 1px solid #ccc;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 95%;
  }

  #{$self}__map {
    height: 100%;
    left:0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}
